.button-attr {
                text-align: center;
		        text-decoration: none; 
				display:inline;
		        cursor: pointer; 
		        border: none; 
		        background-color:$Button-color; 
                color: white;
				height:60px;
				overflow:hidden;
                width:60px;
				padding:10px;
            }