#FOOTER {
            margin:auto;           
            overflow:hidden;
            padding:10px;
            color:$Footer-color;
            height:120px;
            border: 2px solid #DCDCDC;
            background-color:white;
        }