#HEADER {
            background: url(http://pixdaus.com/files/items/pics/1/46/261146_55779a6e04d557491126844b74f86727_large.jpg) ;
            overflow:hidden;
            padding:10px;
            color:$Header-color;
            height:150px;
        }